* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
}

a {
  color: inherit;
  text-decoration: none;
}

/* Responsiveness */

/* @media screen and (max-width: 399px) {
  html {
      font-size: 50%;
  }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
  html {
      font-size: 60%;
  }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
  html {
      font-size: 65%;
  }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
  html {
      font-size: 75%;
  }
}

@media screen and (min-width: 700px) and (max-width: 799px) {
  html {
      font-size: 82.5%;
  }
}

@media screen and (min-width: 800px) and (max-width: 899px) {
  html {
      font-size: 100%;
  }
}

@media screen and (min-width: 900px) and (max-width: 999px) {
  html {
      font-size: 64%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1149px) {
  html {
      font-size: 70%;
  }
}

@media screen and (min-width: 1150px) and (max-width: 1299px) {
  html {
      font-size: 82%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1399px) {
  html {
      font-size: 94%;
  }
}


@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html {
      font-size: 100%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1799px) {
  html {
      font-size: 115%;
  }
}

@media screen and (min-width: 1800px) {
  html {
      font-size: 130%;
  }
} */
