.switch {
    --_switch-bg-clr: #f0f0f0;
    --_switch-padding: 1px;
    --_slider-bg-clr: #1e1e1e; /* slider color unchecked */
    --_slider-bg-clr-on: #1e1e1e; /* slider color checked */
    --_slider-txt-clr: #000000;
    --_slider-txt-clr-on: #ffffff;
    --_label-padding: 1rem 1.5rem;
    --_switch-easing: cubic-bezier(0.47, 1.64, 0.41, 0.8);
    color: var(--_slider-txt-clr);
    width: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
    isolation: isolate;
  }
  
  .switch input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: var(--_switch-padding);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .switch > span {
    display: grid;
    place-content: center;
    padding: var(--_label-padding);
  }
  .switch::before,
  .switch::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    transition: inset 150ms ease-in-out;
  }
  .switch::before {
    background-color: var(--_slider-bg-clr);
    inset: var(--_switch-padding) 50% var(--_switch-padding) var(--_switch-padding);
    transition: inset 500ms var(--_switch-easing), background-color 500ms ease-in-out;
    z-index: -1;
  }
  .switch::after {
    background-color: var(--_switch-bg-clr);
    inset: 0;
    z-index: -2;
  }
  .switch:focus-within::after {
    inset: 0; /* Removed extra padding on focus */
  }
  .switch:has(input:checked):hover > span:first-of-type,
  .switch:has(input:not(:checked)):hover > span:last-of-type {
    opacity: 1;
    transition-delay: 0ms;
    transition-duration: 100ms;
  }
  .switch:has(input:checked)::before {
    background-color: var(--_slider-bg-clr-on);
    inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 50%;
  }
  .switch > span:last-of-type,
  .switch > input:checked + span:first-of-type {
    opacity: 0.75;
    color: #000;
  }
  .switch > input:checked ~ span:last-of-type {
    opacity: 1;
    color: #fff;
  }
  .switch > span:last-of-type,
  .switch > input:not(:checked) + span:first-of-type {
    opacity: 0.75;
    color: #fff;
  }
  .switch > input:not(:checked) ~ span:last-of-type {
    opacity: 1;
    color: #000;
  }

  @media (max-width: 600px) {
    .switch > span {
      padding: 0.5rem 1rem;
    }
  }
